:root {
    --color-one: linear-gradient(90deg, #403B4A, #86c8dd);
}

* {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--color-one);
}

a {
    text-decoration: none;
    color: white;
    line-height: 26px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
}

.bold {
    font-weight: bold;
}

.rel_page {
    display: flex;
    justify-content: space-between;
}

.block1 {
    position: relative;
    background-color: white;
    border-radius: 10px 0 0 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -2px;
}

.block2 {
    position: relative;
    background-color: white;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 10px;
}

.img_ava {
    border-radius: 150px;
    background-image: url(../img/rez.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 10px #403B4A;
    width: 200px;
    height: 200px;
    margin: 30px 20px 30px 20px;
}

.title {
    font-size: 46px;
    letter-spacing: 2px;
    margin-top: 50px;
    width: 100px;
    color: #403B4A;
    text-shadow: 2px 2px 2px #403B4A;
}

.text {
    margin-top: 20px;
    font-size: 20px;
    border-bottom: solid 2px black;
}

.margin_block2 {
    padding-left: 20px;
}

.contacts {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 60%;
    background: var(--color-one);
    box-shadow: 3px 3px 10px #403B4A;
    border-radius: 5px;
    color: white;
}

.title_contacts {
    font-size: 26px;
    text-shadow: 2px 2px 2px #403B4A;
    border-bottom: solid 2px black;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.text_contacts ul {
    margin-left: -40px;
    list-style: none;
}

.phone {
    font-size: 17px;
    margin-bottom: -2px;
}

.title_profile {
    font-size: 26px;
    text-shadow: 2px 2px 2px #403B4A;
    letter-spacing: 2px;
    color: white;
    padding: 5px 5px 5px 20px;
    background: var(--color-one);
    margin: 50px 0 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #403B4A;
}

.text1_education {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
}

.text_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 -10px 0 -10px;
}

.buttons {
    position: relative;
    text-align: center;
    padding: 0 30px;
    background: var(--color-one);
    color: white;
    box-shadow: 1px 1px 5px #403B4A;
    margin: 10px 10px 0px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 30px;
    border-radius: 3px;
    transition: 1s;
}

.buttons:hover {
    background: #403B4A;
}

.projects {
    width: 100%;
    padding-bottom: 51.2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    box-shadow: 3px 3px 10px #403B4A;
}

#project1 {
    background-image: url(../img/Pianokit.png);
    display: none;
}

#project2 {
    background-image: url(../img/Tags.png);
    display: none;
}

#project3 {
    background-image: url(../img/Museum.png);
    display: none;
}

#project4 {
    background-image: url(../img/Meteorite.png);
    display: none;
}

#project5 {
    background-image: url(../img/TicTacToe.png);
    display: none;
}

#project6 {
    background-image: url(../img/Photoeditor.png);
    display: none;
}

#project {
    background: var(--color-one);
    display: block;
}

.links::before {
    content: "";
    background-size: cover;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    width: 22px;
}

.phone::before {
    background-image: url(../img/phone.png);
}

.email::before {
    background-image: url(../img/gmail.png);
}

.linkedin::before {
    background-image: url(../img/linkedin.png);
}

.vk::before {
    background-image: url(../img/vk.png);
}

.github::before {
    background-image: url(../img/git.png);
}

@media screen and (max-width: 799px) {
    .buttons {
        font-size: 16px;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .buttons {
        font-size: 10px;
        padding: 10px;
    }
    .title {
        font-size: 30px;
    }
}

.check {
    text-decoration: underline;
    letter-spacing: 0.5px;
    font-weight: 600;
}



